@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div style="margin-top:30px">
    <strong>
        Pagina Desarrollada por Jose Sequeiros joven Analista de sistemas y programador.
    </strong><br />
    <br />
    <p>Datos de Contacto: </p>
    <p><a href="Josewsq101@gmail.com">Correo Electronico</a></p>
    <p><a href="http://www.linkedin.com/in/jose-sequeiros-0a372b21a">Linkedin</a></p>
    <p><a href="https://github.com/JosephGengar">GitHub</a></p>
</div>